*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
}

body {
  display: grid;
  grid-template-columns: 0.8fr auto;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#sidebar {
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: rgb(88,86,214); /*rgb(88,86,214)*/
  color: #fff;
  border-left: 1px solid rgb(155,160,170);
}

#content {
  display: grid;
  grid-template-rows: 85px auto 25px;
  padding: 8px;
  background-color: rgb(242,242,247);
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 8px
}

.posts .postcard {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 8px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  gap: 8px;
}

.posts .postcard * {
  margin: 0;
  padding: 0;
}

.posts .postcard h2 a {
  text-decoration: none;
}

.posts .postcard .tags a {
  border: 1px solid;
  border-radius: 15px;
  padding: 8px;
  font-size: 14px;
  margin: 5px;
}

.posts .postcard p.date {
  color: #888;
  font-size: 14px;
}

.posts .postcard p:last-child {
  margin-top: 8px;
}

/* Обертка для пагинации */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Кнопки переключения между страницами */
.pagination a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

/* Кнопки переключения между страницами при наведении */
.pagination a:hover {
  background-color: #ddd;
}

/* Текущая страница */
.pagination .current {
  padding: 10px 15px;
  background-color: #333;
  color: #fff;
  margin: 0 5px;
}

/* Кнопки переключения между страницами при отсутствии предыдущей или следующей страницы */
.pagination .step-links a.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination {
  /* Добавляем отступы и центрируем пагинацию по горизонтали */
  margin-top: 20px;
  text-align: center;
}

.step-links a {
  /* Добавляем стили для кнопок */
  display: inline-block;
  padding: 5px 10px;
  background-color: #f8f8f8;
  color: #333;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 25px; /* Добавляем закругление углов */
  margin: 0 5px; /* Добавляем отступы между кнопками */
  margin-bottom: 25px;
}

.step-links .current {
  /* Стили для текущей страницы */
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border-radius: 25px; /* Добавляем закругление углов */
}